/*
=================
 Variables
=================
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGery: #afafaf;
  --mainTransition: All 0.3s linear;
  --mainSpacing: 0.2rem;
}

/*
=================
 GLobal Style
=================
*/
/* reseting all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* agar jika pading ga mmnebesar  */
}

body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5; /* utk paragraf 2  */
}

/* styke text decoration utk link dimatikan  */
a {
  text-decoration: none;
}

/* utk image smua harus mengisi 100% pada kotak imagenya
 displaynya block agar 1 baris di ocupied oleh gambar
*/
img {
  width: 100%;
  display: block;
}
/* besar h1,h2,h3 seragam kita set dari awal  */
h1,
h2,
h3 {
  text-transform: capitalize; /* hruf besar diawal */
  letter-spacing: var(--mainSpacing); /* jarak antar huruf */
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 2;
}

/* btn ukt link back home  */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  background: var(--mainWhite);
  color: var(--primaryColor);
  border: 5px solid var(--primaryColor);
  margin: 2.5rem 4.5rem;
  transition: var(--mainTransition);
}

.btn:hover {
  color: var(--mainWhite);
  background: red;
  border: none;
}
/*
============
Navbar    -navbar background grey
           -utk target li list-tstyle none ada
           -ukt target a link ,displayblock,space,pading bawah saja
============
*/

.main-navbar {
  background: var(--darkGery);
  padding: 0 2rem;
}

.main-navbar li {
  list-style: none;
}
.main-navbar a {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
}

.main-navbar a:hover {
  color: var(--mainBlack);
}

/*
sekaragn target ul:
ul adalah tempat2 li dimana ada 4 list
   nah waktu layar ini besar kita batasi
   max lebarnya dgn max-width:1170px
   jdi ktika dia uda 992px keatas
   kita atur ul nya  tetap di 1170 dan ulnya center ada ditengah
   margin:0 auto;
   utk test warna mmg max 1170 dgn background: var(--primaryColor);
   nah kita udah belajar grid ul punya 4 li
   buat display:grid;
   nah kita buat columnya 4 gfraction
   dgn grid_template_columns:repeat(4,1fr)

*/
@media screen and (min-width: 992px) {
  .main-navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    /* background: var(--primaryColor); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* kita tengahkan center utk a linknya masing2 individu pada contentya
     ngetestya hidupkan lagi backgroundnya primaryColir!
  */
  .main-navbar a {
    text-align: center;
  }
}
/*  kita uda selesai buat navbar nah sekg buat hero  */

/* catatan :pre-copy smua hero html ke html2 yg lain
tiles,cards,layout  sbbb kita gak pakai react router karn ini manual
hany saja gak butuh nabvbar delete saja nabarnya slahkan copy dan beri nama
stiap page ada tomol dibawah btn utk balik ke home/index.html yg berisi navbar
*/

/*
============
HERO
============
*/
/* kita mau setup hero-heaader uini 100% 1 halaman
   slain iut backgroun orange ,color putih
   dan kita buat dipslay grid
   jsutfy content center pas di acenter kita bisa liah
   akan strech kebawah kita buat utk xnya juga
   align-items center
*/
.hero-header {
  height: 100vh;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}
/*terlihat tulisan tetap svlah kiri ya kita harus atur yg ada dlm baner
       utk itu autr class banner dgn text-align:center */
/* .hero-banner {}
  /* utk test dulu */
/* text-align: center;
  background: blue; */
*/
/*  kita mau paragrap banner kita jika layar lebar dia tretap di 560px
dan dia ocupied 80% dari layar banner
*/

.hero-banner p {
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
}
/* ktika layar smakin lebar kita hanya buat
 bahwa hero baner punya pading 3rem slbihnya tidak berlaku di layar besar
 dan kita mau hero baneer ini ada bagkround layar jika dia lebih besar dari 600px

*/
@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0 3rem;
  }
}

/* kita mau pada saat layar besar harsu ada backgroyd color pada baner-beader
   ambilnya di src image2 dan kita mau ada gradient liner cara taruh gradien liner adalah sbb:
   background: url("./src/images/image-2.jpeg") center/cover fixed no-repeat;
   taruh depan url :
   linear-gradient(color1,color2) ,url....
   kasih coma rgbnya adalah warna asli utama dan penderanya gelap
   color1 adalah warna asli rgba dari orange warna backrodu kita
   color 2 ada lah warna hitam gelam diambah opacitynya
   oasti hiatam dgn opacity 0.75
*/
@media screen and (min-width: 768px) {
  .hero-header {
    background: linear-gradient(rgba(249, 105, 37, 0.75), rgba(0, 0, 0, 0.15)),
      url("./src/images/image-2.jpeg") center/cover fixed no-repeat;
  }
}

/* ======
  CArds
========
kita akan bua cards di mimimlayer dimana hanya ada 1 fr col yg kebawah
stlah layar di besarkan maka akan ada 2 buah col card ,dan stalhnya layar>768px
maka akan ada 3 col cards kita akan melakukanya dgn media srcreen .query atau tanpa
menggunakannya sbb:
jadi kita akan buat card ada 4 buat card
utk layer kecil ada 1 col cards ,layar menengah ada 2 card, layer besar 3 card
kita buat htmlnya dulu utk layr kcli itu dfault fixnya
bisa liaht di htmlnya baru stalhnya kita atur di css disini! utk 3 hal diatas
1 card ada image,ada card-info,dan trakhir footer
buat hmtlnya dulu stlahnya baru edit di css atur pola htmlnya
 <cards>
     <title>
     .<cards>
       <article card>
          <img>
          <card info>
          <card footer>
        </article card>
     <cards>

 <cards>
*/

.cards {
  text-align: center;
}
.cards {
  /* atas bawah aj di pading krii kanan gak  */
  padding: 4rem 0;
}
/* card-center bahai 4 anak card
   card -center ini besarnya 80vw dari besar layar gak lebih
   maks widthnya tetap 1170px jika layar besar
   dibuat margin atas bawah srem dan center/auto
*/
.cards-center {
  /* ini nnti pada saat wide bisa di set utk grid dan bisa dgn
   media query /dgn grid ngaturnya
  */
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
/* mrupakan bagian dari card center erisa image,card-info,card-footer */
.card {
  border: 1px solid var(--darkGery);
  /* pisahin antar card dgn botom diberi jarak */
  margin-bottom: 3rem;
}

/* card info  */
.card-info {
  padding: 1.5rem;
}

.card-footer {
  background: var(--darkGery);
  /* ada 4 icon dari fontweb kita bagi sja dgn grid 4 col
  utk 4 content tsb
  */
  /* padding: 0.5rem 2rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

/* kasih orange warna content dari icon lewat span  */
.card-footer span {
  color: var(--primaryColor);
}

/*  nah skkang walaupun dibesarkan tetap dia di 1170 utk cards ini
sekarang di layar penuh kiata akan atur dengan cara media query atau dgn grid auto fit
*/

/*
=====================================
atur layar lebar dgn media query
====================================
note :jika pada 768 dan < dari 1170 maka ada 2 cards
sbb:buat  2 media-query 1: min-width 768 dan media query 2: min-width 1170
*/
/* 2 col ktika 768px */
/* @media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}
/* 3 col diatas >= 1170px
@media screen and (min-width: 1170px) {
  .cards-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }
} */

/* atur layar lebar dgn grid atuo-fill & auto-fit */
/*
cara atur yg diajarkan okeh mister smilga bagaimana cara dgn grid kita
nisa membuat layernya bisa sama flexible responsive sprti media query
fist 1.kita mesti tentukan max width dari layar kita berapa px?
max-width :1170px
====================utk 4 col dgn gap 1 rem dan max-wdth = 1170px ==============
kmudian ada mau brapa gapnya mis kita bagi pada saat maksimum layar ada 4 col
berarti ada 3 gap
misal masing2 gap = 16px  X 3 = 48px
1170- 48px = hasil
hasil/4 = 280.5 maka
kita siapkan
grid_template-columns:repeat(autofill,minmax(280.5,1fr))
jadi arti min disini adalah bahwa kalau dia di kcilkan hanya tinggal 1 frame
dia minim 280.5px  sbsar 1 frame,kalau dia dibesarkan smapai layar lebar
dia akan 280.5 x 4 x 1fr
maka kita akabbuat grid di card centers
diatas 
===================end utk 4 col dgn gap 1 rem dan max-wdth = 1170px ===========

========================grid utk 3 col gap 2rem max-width=1170px==========
gap =32px x2 gap for 3 col = 64px 
1170-64px / 3 col = 368.67px
maka disiapkan di 
card-center: { 
  display:grid ;
  grid-template-columns:repeat(auto-fill,minmax(368.67px,1fr))

  keteangan utk min-max(368.67px,1fr)
  max 1fr artinya pada saat layar kecil tidak ada ruang dia akan isi sbesar 
  1fr berapa 1 fr iutu ? kita udah set diatas di cards-center :
  width:80vw ,kita lihat skrng layar kecil lebar = 663.75px 
  80%x663.75px = 531px ,kita ukur sekarang = ~543px 
  
  pada saat ada space brrti min dia si col adalah b368.67px dimana 
  berbagi 1fr dgn yg lainya sbganyak 3buah dilayar lebar inilah maksudnya 
  cba kita ukur : 366.17px per card  masing2 besarya dalam col1,2,3  
  kira2 demikianlah  perhitunganya 

}

==========================================================================
*/

.cards-center {
  display: grid;
  grid-column-gap: 1rem;
  /* auto-fill */
  /* grid-template-columns: repeat(auto-fill, minmax(368.67px, 1fr)); */
  /* auto-fit */
  /* grid-template-columns: repeat(auto-fit, minmax(368.67px, 1fr)); */

  grid-template-columns: repeat(auto-fill, minmax(280.5px, 1fr));
}
/* nah jadinya sperti diatas iut lah  */

/*  nah skrg beda autofit dan autofill itu dimananya ? */

/*
///Perbedaan autofit dan auto-fill 
sekanra gkita cari tahu perbedaan antara auto-fit dan auto fill 
jadi kita buat 1 card aja didalam card-centers akan tetapi ketersediaan colun 
di grid kita buat 4 columns 
nah apa yg terjadi bisa kita lihat dgn auto fill seting sbb :
  grid-template-columns: repeat(auto-fill, minmax(280.5px, 1fr)); 
 walaupun tidak ada 3 cards hanya ada 1 card saja walaupun kita udah sediakan utk max halaman 
 akan terisi 4 cell ngsi di 3 column tapi keteresdeiaan dari cell di html hanya di baut 1 card 
 saja jadi 1 col terisi ,3 col lain disediakan dan besar dari pada card adalah 280px tetap sama! 
 3 lainya bisa terlihat kota2 3 col utk ktersediaan nya 


 nah  utk auto fit ,ktika dia berada pada layar lebar dgn ktersdiaan 1 card htmlnya 
 tapi utk col kita sudah setup di css utk 3 column apa yg terjadi ternyata sesuai dgn namanya disebtu 
 dgn auto-fit!
 jdi itu 1 card melar atau stretch dia tidak ada keserdiaaan utk column tap cardnya ini 
 besarnya emelebat hingga 80vw (stret) fit memenuhi 1 layer! utk 1 card saja!
 jadi begitulah beda antara auto-fill dan auto fit 
*/

/* CARD CSSS ROW HEGITH  GIMANA SETTING NYA??  */
/* 
jadi sat ini kita ada dgn 4 col auto fill dgn 280.5px min dan 1 fr max
dan dgn 1rem utk gap ciolumn 
nah utk card ke 4 kita tambag content tulisan lihat gambar pada 
jika card4 content card-info ditambah tulusan dgn 
 loren25 misalkan,nah yng card1,card2,card3 akan stretch kebawah apa yg harus dilakukan 
 utk atsai hal ini??
 agar hanya card 4 saja yg terkena content lain tetap sama tapi tidak strecth  sprti diatas
 cara :
 1.mri kita lihat card secara kita uda bagi2  di bagian cards.html 
 lihat bagain card !
 content trsebut  yaiut sbb
 disitu :ada <img> <card-info> <card-footer>
 <article class = card>
   
 </article>
 nah skrng pada grid kita uda melihat tsb daris isi 
 card-template-rowsnya  nah kita bagi juga dgn 3 dan kita atur mana yg dia auto yg mana 
 bisa luwes/atau leluasa,
 nah kita sekarang jadidak <card> sbgai grid display card itu saja 
 bukan cards-contentn, card yg ngisi 1 column 
 nah sbb :

 .card {
  display:grid;
  //nah utk column krena ngisi 1 col kita jadikan 1 fr
  grid-template-columns :1fr ;
  //nah utk rows kan ada 3 bagian <img> <card-info> <card-footer>
  //ada 3 fracton atau fr nah yg gak berubah utk img dan car-footer kita jadikan auto 
  //nah yg berubah2 kontnentya sebgaimanapun besarnya dia !dia harus ocupied 1 fr 
  maka seting grid rowsnya sbb:
  grid-template-rows:auto 1fr auto ;
  jangan lupa utk setup 
  card img {
    height:100%;
  }
  

*/

/* ini pengaturan tinggi rows  langsung pada individu atau cardnya 
  yg trdiri atas tag img card-info card-footer
*/
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
/* utk img dlm card */
card img {
  height: 100%;
}
/* ===================end pengaturan Cards css  */

/* Start Pengaturan tiles css */

/* ======
  TILES
==========
*/
/* utk wraping */
.tiles {
  padding: 4rem 0;
}
/* utk judl  */
.title {
  text-align: center;
}

/* nah di bagian tiles-center samadgn card-centet
utk wraping card2 didalam dgn grid  ini default atur 
layer trckicl ssudahnya atur di layar 768px 990 atau > lbih besar
dng media query atau dgn grid nntinya ( sama sprti card css )
*/
.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  /* tak perlu ada grid col gap krn palingkecil saat ini hanya ada 1 col */
  grid-row-gap: 2rem;
}

/* pada 768px 2 col  */
@media screen and (min-width: 768px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

/* pada 992px jadi 3 col  */
@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 2rem;  kalau udah dideclre ditempat yg sama ak perlu tulis ulang*/
  }
}

/* nah pada big scree 1100 px jadi 4 col 
disni kita atur utk mmbuat layout dari patokan pada gambar 
s
 nah disini mesti lihat utk cara atur nntinya layout speti  tiles pada layar besartsb 
-jadi cara peratama adalah menghitung berapa row dan col dasar pembentuk tiles-layout
 tsb  didapatkan 5 rows ( dari yg kecil) dan 4 col dari yg kotak kcul 

- stlahnya kita buat grid areas dari bentuk tilesnya maka grid area dibentuk 
  dati tanda petik "" sbagi row dgn pemisah spasi ada 5 rows dan dlmnya ada 
  4 col sbb kita proyeksikan dulu so,nolnya  : 
  grid-templare-areas:
  "a a a b"
  "a a a b"
  "c c c c"
  "d e e e"
  "d f g h"
 ( note ingat tanpa "," hanya spasi dan tanda "" sbgai row-nya
-
stlahnya kita declare asign masing2 grade area ke tile-1 sd tile-9 sbb:
.tile-1 {
grid-area:a;
} dst.....
stlahnya kita kan tahu masing2 repsentasi dari indivudu tile-1 mewakili "a"
 tile-2 mewkili b area nah masing2 dideclare agar tampak  pada htmlnya 
 tampa menulis declare maka tidak akan pernah bisa 
 sbgaiknya urut sbab gak maslaah utk menukar antar tile-x masuk grid area mana 

-jangan lupa jika pengaturanya pada grade area ada class img 
maka kita buat atur hught dari ing 100% always 
.tiles-center ing {
   hight:100%;
}
 */
/* berikut ngatur 1100 4 cols */

@media screen and (min-width: 1170px) {
  .tiles-center {
    /* utk define templates:4 cols */
    grid-template-columns: repeat(4, 1fr);
    /* define 5 rows */
    grid-template-rows: repeat(5, 150px);
    /* define grid template-areas */
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tile-1 {
    grid-area: a;
  }
  .tile-2 {
    grid-area: b;
  }
  .tile-3 {
    grid-area: c;
  }
  .tile-4 {
    grid-area: d;
  }
  .tile-5 {
    grid-area: e;
  }
  .tile-6 {
    grid-area: f;
  }
  .tile-7 {
    grid-area: g;
  }
  .tile-8 {
    grid-area: h;
  }
  .tile-9 {
    grid-area: i;
  }
  .tiles-center img {
    height: 100%;
  }
}

/*  End Pengaturan tiles css */
